.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_image1 {
  width: 350px;
  height: 350px;
}
