@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:wght@300;400;600&display=swap');

.nav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: auto auto;
    
}

.link {
    display: flex;
    list-style: none;
    gap: 30px;
    width: 200px;
    justify-content: space-between;
}