.options-items {
    list-style-type: none;
    /* margin: 25px 0 0 0; */
    /* padding: 0; */
  }
  
  .options-items li {
    float: left;
    
    margin: 0 5px 0 0;
    width: 80px;
    height: 40px;
    position: relative;
  }
  
  .options-items label,
  .options-items input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .options-items input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .options-items input[type="radio"]:checked+label,
  .Checked+label {
    color: white;
    background: black;
  }
  
  .options-items label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
  }
  
  .options-items label:hover {
    background: #DDD;
  }