.label-no-color {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  width: 63px;
  height: 45px;
  background-color: #ffffff;
  color: #292929;
  border: 1px solid #a6a6a6;
  cursor: pointer;
}

.label-color {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 0;
  width: 63px;
  height: 45px;
  border: 1px solid #a6a6a6;
  cursor: pointer;
}
